
body {
    color: white;
    background: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    background-color: black;
    border-bottom: solid 2px rgba(99, 99, 99, 0.174);
    padding: 20px;
    padding-left: 275px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.box {
    color: black;
    background: rgb(255, 255, 255);
    padding-top: 180px;
    display: flex;
    justify-content: center;
    transition: all 2.5s;

}

.box-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    text-align: center;
    display: flex;
    flex-direction: flex;
    align-items: center;
    text-align:  center;
    display: flex;
    overflow-x: hidden;
    gap: 2.5vw;
}

.categoria-videos p {

    font-size: 13px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

.categoria h2 {
    color: rgb(255, 255, 255);
}

strong {
    font-size: 13px;
}